<mat-expansion-panel>
    <mat-expansion-panel-header>
        <!-- 
            <mat-panel-title>{{riskItem.orderId}}</mat-panel-title>
            <mat-panel-description>{{riskItem.date}}</mat-panel-description> 
        -->
        <div class="flex-row">
            <mat-panel-title class="header">
                <span (click)="editOrderId($event)" *ngIf="!isOrderIdInEditState">{{orderId}}</span>
                <input type="number" *ngIf="isOrderIdInEditState" [(ngModel)]="orderId" (focusout)="saveData()"
                    (click)="editOrderId($event)">
            </mat-panel-title>
            <div class="desc">
                <span (click)="editDate($event)" *ngIf="!isRiskDateInEditState">{{date | date: 'yyyy-MM-dd'}}</span>
                <input type="date" *ngIf="isRiskDateInEditState" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="date = $event" type="date" (focusout)="saveData()"
                    (click)="editRiskTitle($event)">
            </div>
        </div>
    </mat-expansion-panel-header>
    <div class="innerContainer">
        <span (click)="editRiskTitle($event)" *ngIf="!isRiskTitleInEditState">{{riskTitle}}</span>
        <input type="text" *ngIf="isRiskTitleInEditState" [(ngModel)]="riskTitle" (focusout)="saveData()"
            (click)="editRiskTitle($event)">
    </div>
</mat-expansion-panel>