mat-expansion-panel {
    padding: 10px;
}
.innerContainer{
    padding: 10px 0 0 0;
}
mat-expansion-panel-header {
    display: flex;
    justify-content: space-between;
}
.flex-row {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}