.flex-col {
    display: flex;
    flex-direction: column;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #c3c3c3;
    .subContainer {
        width: 450px;
        background-color: #fff;
    }
}
.flex-1 {
    flex: 1 1 auto;
    flex-grow: 1;
}
mat-expansion-panel {
    padding: 10px;
}