<div class="container">
    <button (click)="addNewRisk()">Add a New Risk</button>
    <br>
    <div class="subContainer">
        <div class="flex-col md:flex-row">
            <div class="flex-1">
                <mat-accordion>
                    <ng-container *ngFor="let risk of riskData; let last = last; let i=index">
                        <risk-card [riskItem]="risk" (riskValuesChanged)="riskValuesChanged($event, i)"></risk-card>
                        <!-- <mat-divider></mat-divider> -->
                    </ng-container>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>